@(message: String)

@template(message) {

    <center>
        <p>TODO : Index Content Lorem ipsum dolor sit amet, albucius nominavi ea vis. Ridens aliquip fastidii nam an, sed case commodo aperiam an, ne qui erat inciderint. Amet nominavi et pro. At atqui soleat salutatus sit, ea vis dicat aliquip scaevola, ignota repudiandae ius id.

Ad quo viris saepe, ubique labores recusabo mei ad, errem fabellas invidunt ei mea. Eam libris causae definiebas et, ei duo nemore definiebas. Perpetua gloriatur no his, ea eam laudem aperiam reprehendunt, summo fabulas definitionem eos at. His vide regione ut. Vix melius assueverit comprehensam cu, ne graecis rationibus quo.

Lorem indoctum nec ex. Ut eius verear mei, qui dignissim definitiones ne, ex sit quis rebum. Nec ei maluisset intellegebat concludaturque, ad persius sanctus pertinacia eum. Quo in nihil luptatum, impedit voluptatum id quo. Eu usu quas lorem democritum, wisi aperiri elaboraret quo ut, reque copiosae omittantur no vim.

Ei nisl repudiare has. Timeam quaestio est et. Solum nonumy vis te, in mea vidit deterruisset. Modus quodsi fuisset id vel, utinam periculis id eum, ei mel minimum torquatos.

His te sumo sadipscing. Ut modo ornatus urbanitas nec, cu usu diam interesset. Eam assum debet ei, in vix justo vocibus scriptorem. Novum laudem appareat id mei, in has postulant definitiones. Pri minimum splendide ea. sxsjnsaxa sxsaxnasj xnaskjcsadhjbscjknsd jkcnsdcnsdb cashdjcndjsncsdjkcbkfbkednes
        cdscnkjsdcndjskbcdsjbcdjscbdsjc bnjdkscndskjncj ksdcnkjdscjs kdjbcesdbhcs djkchbdsjdcd sbcjdbcjdshbcjdhdscsd
        djcsdjkbchsdbchsjdb cewbewuicbewucdjsbc cdsc dscud scds cusd cuisdchsdc sdcsudcbds sdncjdsjcsdjkcbsdc sdcdsc
        sdcsdjcnsdjkcs dscdsjcnjds sdcjdsncjksd sdcnsdjkcndskjc sdjkcsdjkcknsdc sdcnsdcnskdcn  sdcjskdnckdscnsdkc sd
        dcsjcnd cdjc sd cj csjd c djscdjscjdscj djsc dscksc dscksdc dcksd cdkcdsc skdcjsdc dskcds cdkscdsj sdkcjsdc
        dcsdcjsd jdc sdjc ds sdcsjdcsdjhc sdhc sdhc dsch dsjcdshjcbdcd csdhjcbds csdhjc dchjsdc sdhc hdsc csdhjc 
        dc dscdsjc dscjdc jkdcdcjsd csjdchdsc dsjkc dsc dchsjhdc sdcjsdc sdcjdscsj dcjsd jscsdcsdj cdsc dcjsdjcjsdc
        sdjcjsdcjsd cdkjscjdsfhd jsdchsjd jhsdc sdjhjsvjsdvh sdjhvdsjvhjsdv djshvjsdhvsdj vsjdhvdsjv jsdhcsdjh csjdhc
        dsjciusecsdvhjd sdhdsvhdjv shjdvdsjh sdvhsjvhds dsjhcsdhjv dsjhv sdvsdhvdsjhvhjsd sdh</p>
    </center>
}
